.header {
  width: 100%;
  height: auto;
  background-color: #fff;
  &__container {
    @include container();
  }
  &__list {
    @include flex();
  }

  &__logo {
    width: 9%;
    @include responsive(xl) {
      width: 16%;
      @include responsive(lg) {
        width: 24%;
        @include responsive(sm) {
          width: 33%;
        }
      }
    }
  }

  &__button {
    width: 100%;
    @include button();
    &--position {
      width: 15%;
      @include responsive(xl) {
        width: 20%;
        @include responsive(lg) {
          width: 33%;
          @include responsive(sm) {
            width: 45%;
          }
        }
      }
    }
  }
}
